@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
.navbar-dark {
    background: rgb(3 7 18); 
  }
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }