
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.navbar-dark {
    background: rgb(3 7 18); 
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
.heading{
  text-align: center;
  font-weight: bold;
  color: #5A5A5A;
}
.category-list li{
  list-style: none;
}
.job-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    width: 100%; /* Ensure full width of container */
}

.job-card .apply-btn {
    background-color: #6200EA;
    color: white;
    font-weight: bold;
}
.job-card .apply-btn:hover {
    background-color: #4500b2;
}
.company-logo {
    width: 50px;
    height: 50px;
}
.filter-section {
    background-color: rgb(3 7 18);
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.filter-section ul li{
  font-size: 1.3rem;
}
.filter-section ul li:hover{
  text-decoration: underline;
}
.apply-btn{
  background-color: #6200EA;
  color: white;
  font-weight: bold;
}

#salaryValue {
  color: white; /* Make it visible on black background */
  font-size: 18px;
  margin-left: 10px;
}


footer{
  background-color: #111;
  width: 100vw;
  margin-top: 4rem;
  position: relative;
  right: 4rem;
}
.footerContainer{
  width: 100%;
  padding: 50px 20px 20px;
}

.socialIcons{
  display: flex;
  justify-content: center;
}

.socialIcons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0.9; 
}

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footernav{
  margin: 30px 0;
}

.footernav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footernav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.socialIcons a:hover {
  transform: scale(1.1); 
  background-color: #111;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
  font-size: 1.4rem;
}

.socialIcons a i:hover  {
  color: white;
  transition: color 0.3s ease;
}

/* Footer Navigation Links Hover Effect */
.footernav ul li a:hover {
  text-decoration: underline;
  transform: scale(1.7); 
  color: white; 
  font-size: 1.5rem;
}


