body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-dark {
    background: rgb(3 7 18); 
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.heading{
  text-align: center;
  font-weight: bold;
  color: #5A5A5A;
}
.job-card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    width: 100%; /* Ensure full width of container */
}

.job-card .apply-btn {
    background-color: #6200EA;
    color: white;
    font-weight: bold;
}
.job-card .apply-btn:hover {
    background-color: #4500b2;
}
.company-logo {
    width: 50px;
    height: 50px;
}
.filter-section {
    background-color: rgb(3 7 18);
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.apply-btn{
  background-color: #6200EA;
  color: white;
  font-weight: bold;
}
