@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
:root {
    --primaryColor: #0076de;
    --whiteColor: #fff;
    --blackColor: #333;
    --greyColor: #f6f8fa;
    --labelColor: #64b1f5;
    --yellowColor: #ffd723;
    --dark: #2B3940;
    --light: #5A5A5A; /* Example color code */
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito',sans-serif;
}

/* body */
body{
    width: 100%;
    height: auto;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h1{
    line-height: 1.5;
    font-size: 2.5rem;
}

.navbar-dark {
    background: rgb(3 7 18); 
  }
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
/* join bannner */
.join{
    width: 100%;
    height: 350px;
    background-image:url(/assets/join-background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--whiteColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    position: relative;
}

.join::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(7, 25, 44, 0.6) 0%, rgba(88, 93, 99, 0.5) 100%), linear-gradient(180deg, rgba(58, 63, 69, 0.65) 0%,transparent 100%);
    z-index: 1;
}

.join-detail {
    min-width: 280px;
    width: 50%;
    z-index: 2;
    margin-bottom: 1rem;
}

.join-detail > h1{
    color:var(--greyColor);
    font-size: 36px;
    letter-spacing: 2;
}

.join-btn{
    font-size: 1.4rem;
    width: 200px;
    padding: 1rem;
    border: none;
    color: var(--blackColor);
    background-color: var(--yellowColor);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    z-index: 2;
    cursor: pointer;
}

.join-btn:hover{
    background: transparent;
    border: 2px solid var(--yellowColor);
    color: var(--yellowColor);
}

.featured {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--greyColor);
}

.featured h1 {
    color: var(--light);
}

.section-title {
    margin-bottom: 0.5rem;
    letter-spacing: 1.5;
    font-size: 36px;
}

.featured-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    align-items: center;
    width: 100%;
    padding: 2% 5%;
}

.featured-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--whiteColor);
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
}

.featured-card p{
    font-size: 1.3rem;
    color: var(--light);
    padding: 1rem;
    font-weight: 700;
}

.featured-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.featured-image {
    height: 30px;
    margin-bottom: 0.2rem;
}

.featured-btn{
    border: 1px solid var(--blackColor);
    background-color: transparent;
    padding: 3px 10px;
    cursor: pointer;
    color: var(--blackColor);
}

.featured-btn:hover{
    background-color: var(--blackColor);
    color: var(--greyColor);
}

/* testimonials */
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}  

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title {
    font-size: 35px;
    color: var(--light);
    font-weight: 600;
    text-transform: capitalize;
    color: hs1(0, 0%, 100%);
    line-height: 1.2;
}

.testimonials {
    padding: 100px 0;
}

.testimonials-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


.testimonials-item {
    background-color: var(--greyColor);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials-item .info {
    display: flex;
    align-items: center;
}
.testimonials-item img{
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: --var(dark);
    line-height: 1.2;
}

.testimonials-item .job{
    text-transform: capitalize;
    color: var(--light);
}

.testimonials-item p{
    margin-top: 20px;
    color: var(--light);
}

.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: hs1(36,saturation, lightness);
}

/* blog section */
.blog{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 1rem;
}

.section-title {
    color: var(--dark);
}

.blog p{
    color: var(--light);
    font-size: 1.5rem;
}

.blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.blog-card{
    width: 200px;
    height: auto;
    margin: 1rem;
    box-shadow: 0 1px 6px 0 rgb(49 53 59 /12%);
    cursor: pointer;
}

.blog-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.blog-detail {
    padding: 20px;
}

.blog-detail span {
    color: var(--yellowColor);
    font-size: 0.7rem;
}

.blog-detail h4 {
    padding: 10px 0;
}

.divider {
    margin: 1rem 0;
    border: 0.5px solid var(--greyColor);
}

.blog-more {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 1rem;
}

.blog-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer{
    background-color: #111;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9; 
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
      width: 100%;  
      text-align: center;
      margin: 10px;
    }
}